.div1{
    color: grey;
    padding-top:10px;
    padding-left:5px;
}
.div2{
    color: blue;
    padding-top:50px;
    padding-left:300px;
}
.div3{
    color: red;  
    padding-top:70px;
    padding-left:70px;
}